* {
    margin: 0;
    padding: 0;
}

#body {
    background-color: #000000;
}

#main {
    font-family: "Inconsolata";
    width: 100vw;
    min-height: 100vh;
    color:rgb(0, 255, 0);
}

button {
    line-height: 0;
}

header {
    background-color: rgb(0, 20, 0);
    text-align: center;
    background-size: cover;
    height: 50px;
    border-bottom: 1px solid ;
    display: flex;
    align-items: center;
    padding-left: 100px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

header h3 {
    margin-left:10px;
}

.title {
    display:flex;
    flex-direction:row;

}

.account {
    width:100px;
    color:rgb(0, 255, 0);
    text-decoration: none;
}

.dropbtn {
    display:none;
}

.sort {
    margin-left:10px;
    display:flex;
    flex-direction: row;
}

.sort-buttons {
    margin-left:10px;
    display:flex;
    flex-direction: row;
}

.sort-button-container {
    position: relative;
    width:60px;
    height:30px;
    margin-left:5px;
}

.sort-button {
    position:absolute;
    width:100%;
    height:100%;
    opacity:0%;
    z-index:1;
}

.sort-button:hover {
    cursor:pointer;
}

.sort-layout {
    background-color:#050210;
    width:100%;
    height:100%;
    border: 1px solid rgb(0, 155, 0);
    border-radius: 2px;
    z-index:0;
    display:flex;
    justify-content: center;
    align-items: center;
    transition: ease-in-out 0.2s;
}

.sort-layout span {
    font-size: 11px;
    text-shadow: 2px 2px 1px black;
}

.sort-button:checked+.sort-layout {
    background-color: rgb(25, 100, 25);
    transition:ease-in-out 0.2s;
}


.delete-task {
    background-color: inherit;
    border:none;
}

.delete-task:hover{
    cursor:pointer;
}

.task-date-trash {
    height:30px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.task-dates {
    height:30%;
    margin-left:10px;
    margin-right:10px;
    display:flex;
    flex-direction:column;
    justify-content: space-around;
}

.task-date {
    line-height:30px;
    text-align:center;
    color:rgb(0, 100, 0);
}

.task-deadline {
    line-height:30px;
    height:30px;
    text-align: left;
}

.title span {
    margin-left:10px;
}

.searchbar-container {
    margin-left: 20px;
    margin-right:10px;
    width:250px;
    height: 30px;
    border: 1px solid rgb(0, 155, 0);
    border-radius: 2px;
    background-color:rgb(0, 0, 0);
    z-index:0;
    display:flex;
    align-items: center;
}

.searchbar {
    padding-left:10px;
    height:100%;
    width:100%;
    outline:none;
    background:0;
    border:0;
    z-index:1;
    color:rgb(0, 255, 0);
}

.searchbar-button:hover {
    cursor:pointer;
}

.searchbar-button {
    background-color:transparent;
    border:none;
}


.add-sort-search {
    margin:10px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    
}

#temp-task {
    display: none;
    margin:20px auto;
}

.all-tasks {
    margin-top:40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.task-container {
    width: 24vw;
    height: 300px;
    margin-left: 10px;
    margin-top: 10px;
    border: 1px solid rgb(0, 155, 0);
    border-radius: 2px;
    background-color: rgb(0, 20, 0);
}

.task {
    color:rgb(0, 255, 0);
    height: 60%;
    margin: 20px 5px 0px;
    padding:5px;
    overflow:scroll;
    line-height: 25px;
    background-color:rgb(0, 0, 0);
    border: 1px solid rgb(0, 155, 0);
    border-radius: 2px;
}

.new-task {
    height: 68%;
    overflow:scroll;
    line-height: 25px;
    display:flex;
    justify-content:center;
    margin-top:10px
}

.add {
    border-radius: 2px;
    height: fit-content;
    cursor: pointer;
    line-height: 0;
    border: none;
    background-color: inherit;
    color:rgb(0, 255, 0);
}

.newtask-datetime {
    height:100%;
    width:40%;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}

.newtask-datetime-add {
    height: 27%;
    margin-left:10px;
    margin-right:10px;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;

}

.newtask-input {
    padding:5px;
    height: 92%;
    width: 100%;
    margin-left:5px;
    margin-right:5px;
    border:1px solid rgb(0, 155, 0);
    resize: none;
    background-color:rgb(0, 0, 0);
    color:rgb(0, 255, 0);
    border-radius: 2px;
}

.newtask-input:focus {
    outline: none;
}

.newtask-header-input:focus {
    outline: none;
}

.newtask-datetime-group {
    display:flex;
    flex-direction: row;
}

.newtask-displays {
    margin:auto 5px;
}

.newtask-add {
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 2px;
    cursor: pointer;
    border: none;
}

.date-picker {
    border:1px solid rgb(0, 155, 0);
    background-color: rgb(0, 0, 0);
    color:rgb(0, 255, 0);
}

.date-picker:focus {
    outline:none;
}


.time-picker {
    border:1px solid rgb(0, 155, 0);
    background-color: rgb(0, 0, 0);
    color:rgb(0, 255, 0);
}

.time-picker:focus {
    outline:none;
}


#newtask-datetime-container {
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    height:50%;
    transition:0.1s ease-in-out;
    pointer-events:none;
    opacity: 20%;
}


#datetimecheckbox {
    opacity:0%;
    position: relative;
    z-index:2;
    height:18px;
    width:60px;
}

#datetimecheckbox:hover{
    cursor:pointer;
}

.datetime-checkbox-container {
    height:20px;
    position:relative;
    width:60px;
}

.datetime-checkbox-container span {
    width:100%;
    height:100%;
    line-height:20px;
    text-align:center;
    position:absolute;
    z-index:1;
}

.background-layer{
    transition:0.1s ease-in-out;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    border: 1px solid rgb(0, 155, 0);
    border-radius: 2px;
    background-color:rgb(0, 0, 0);
    z-index : 0;
}

#datetimecheckbox:checked+.background-layer {
    transition:0.1s ease-in-out;
    background-color:rgb(0, 50, 0);
}

.hide {
    display:none;
}

/* Phone */

@media screen and (max-width: 800px) {

    header {
        padding-left: 20px;
    }

    .mobile-sort {
        display:flex;
        flex-direction:column;
        align-items:center;
    }

    .sort-buttons {
        position:absolute;
        top:100px;
        margin:0;
        display:none;
        z-index:3;
        background-color:rgb(0, 0, 0);
        border: 1px solid rgb(0, 155, 0);
        border-radius: 2px;
        width:72px;
        height:112px;
    }

    .sort-button-container {
        margin-top:5px;
    }

    .dropbtn {
        display:block;
    }

    .task-container {
        width: 45.5vw;
    }

    .searchbar-container {
        width:150px;
    }

    .show {
        display:block;
    }
    
}