* {
    margin: 0;
    padding: 0;
  }
  

#main {
    font-family: "Inter";
    background-color:#050210;
    width: 100vw;
    min-height: 100vh;
    color:#dcf8e6;
}

#header {
    text-align: center;
    background-size: cover;
    background-color:#050210;
    height:50px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.150);
    display: flex;
    align-items: center;
    padding-left: 100px;
    
}

.title {
    font-weight: 500;
    padding-left:5px;
}

.task-container {
    margin:10px;
    min-height:100px;
    border: 1px solid rgba(255, 255, 255, 0.150);
    border-radius: 5px;
}

.task-header {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: auto;
    height:20px;
    background-color:#194978;
    padding:10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.150);
}

.task {
    background-color:#050210;
}

/* Phone */

@media screen and (max-width: 800px) {

    #header {
        padding-left: 20px;
    }
}